{% load static %}

<header class="section-header">
  <section class="header-main border-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div style="padding-left: 14px" ;>
          <a href="{% url 'home' %}" class="brand-wrap">
            <img class="logo" src="{% static './images/uppercut_ico.png' %}" />
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-6">
          <a href="{% url 'home' %}" class="brand-wrap">
            <img class="logo" src="{% static './images/uppercut_logo.png' %}" />
          </a>
          <!-- brand-wrap.// -->
        </div>

      </div>
      <!-- row.// -->
    </div>
    <!-- container.// -->
  </section>
  <!-- header-main .// -->
</header>
<!-- section-header.// -->
